/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@800&family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'EB Garamond', serif;
}

/* common style */
.primary-color {
    color: #B68C5A;
}

.p {
    font-size: 1rem;
    color: #707070;
}

.primary-btn {
    font-weight: 600;
    font-size: 1rem;
    padding: 1.2rem 1.9rem;
    color: #FFFFFF;
    background-color: #B68C5A;
    border: none;
    border-radius: 8px;
}

/* banner style */
.banner-container {
    background-image: url('../images/banner.png');
    background-size: cover;
    height: 550px;
}

/* legal practice section style */
.criminal-low-style {
    background-image: linear-gradient(180deg, #F3F3F3 0%, rgba(243, 243, 243, 0) 100%);
    ;
}



@media only screen and (max-width:576px) {
    .primary-btn {
        font-weight: 500;
        font-size: 1rem;
        padding: 10px 20px;
        border-radius: 8px;
    }

    /* client section style */
    .author-img {
        height: 2rem;
        width: 2rem;
    }

    .slider-author,
    .slider-title,
    .slider-description {
        margin: 0;
    }

    .slider-title {
        font-weight: 400;
        font-size: 15px;
    }

    .slider-description {
        font-weight: 100;
        font-size: 10px;
    }
}